{% extends 'base.html.twig' %}

{% block title %}Edit Evenements{% endblock %}

{% block body %}
    <div class="contentWrapper" style="padding: 2em 1em;">

        <div class="ui segment sixteen column wide items" style="padding: 1em; border: 1px solid gray; background-color: #fffffdc7;">
            <div style="display: flex;align-content: center;justify-content: space-between;align-items: center;">
                <h5 class="ui header customClass pb-0 left aligned">
                    <a href="{{ path("evenements_index") }}"> <i class="icon left arrow" ></i> Go Back to Events list  </a>
                </h5>
            </div>
        </div>


        <div class="ui segment attached sixteen column wide items" style="padding: 1em; border: 1px solid gray;">
            <h1 class="ui header center aligned big"> Edit an Event </h1>
        </div>
        <div class="ui segment attached sixteen column wide items" style="padding: 4em 2em; border: 1px solid gray;">

             {{ include('evenements/_form.html.twig', {'button_label': 'Save'}) }}

        </div>

    </div>
{% endblock %}

{% block bodyScript %}
    <script>
        $(()=>{
            $('select.dropdown')
                .dropdown()
            ;
        });
    </script>
{% endblock %}